body
{
	margin: 0;
	padding: 0;
	background-image: url(../src/bg.jpg); /*Image de fond*/
	background-position: center 10%;
	background-repeat: no-repeat ;
	background-attachment: fixed; /*Fige l'image pour qu'elle ne bouge pas au scroll*/
	font-family: 'Oswald', sans-serif;
	background-color: #411D0F;
}

a
{
	text-decoration: none;
	color: rgb(255, 0, 0);
}

a:hover 
{
	text-decoration: underline;
}

p
{

}

.l_float
{
	float: left;
}

.r_float
{
	float: right;
}

.clearfix
{
	clear: both;
}


/*--------------------------------------------------------------*/
#container
{
	width: 1130px;
	margin: 0 auto;			/*Marge*/
}
/*--------------------------------------------------------------*/
#header
{
	background-color: #f4c456;
}
#header:hover
{
}
/*--------------------------------------------------------------*/
#navigation ul, #navigation li
{
	list-style-type: none; /*del puce*/
	margin: 0;
	padding: 0;
	display: inline-block; /*Affichage horizontal*/
}

#navigation li:hover
{
	background-color: #aa1715;
	/*color: #f4c456;*/
}

#navigation li:hover a
{
	color: #f4c456;
}
/*--------------------------------------------------------------*/


#slide
{

}
/*--------------------------------------------------------------*/
#body
{

}

#article1, #article2
{
	width: 500px;
	border-radius: 20px;
	border: solid #f4c456;
	background-color: rgba(255, 255, 255, 0.80);
	padding: 10px;
	line-height: 22px; /*Interlignage*/
}
#article1 h1, #article2 h1
{
	text-align: center;
}
#article1 p, #article2 p
{
	font-size: 16px;
}

.lettrine
{
	font-size: 45px;

}

.date_article
{
	font-size: 5px;
	font-style: italic;
}
.link_article
{
	text-align: right;
}

.lire_la_suite
{
	color: #000;
	font-weight: bold;
	text-align: right;
	text-decoration: underline;
	background-image: url(../src/article/lire_la_suite.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 32px;
}
.lire_la_suite img
{

}
/*--------------------------------------------------------------*/

#footer
{
	color: #ECBC2F;
	background-color: #000000;
	text-align: center;
}
#footer a
{
	color: #ECBC2F;
}

#footer .v_line
{
	height: 100px;
	border: 1px #ECBC2F solid;
	padding: 0px;
	margin-top: 10px;
}
#footer div
{
	padding: 5px;
}

#footer_informations
{
	width: 375px;
}

#footer_bas li, #footer_bas ul
{
	margin: 0;
	padding: 0;
	list-style-type: none; /*del puce*/
}

#footer_bas
{
	width: 375px;
}
/*--------------------------------------------------------------*/
#reseaux_sociaux
{
	width: 330px;
	/*border: 1px #555 solid; */
	/*padding-top: 100px; */
	margin-top: 20px;
}
#reseaux_sociaux div
{
	width:52px;
	height: 52px;
	margin:0 auto;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
}
#reseaux_sociaux .facebook
{
	background-image: url(../src/facebook.png);
}
#reseaux_sociaux .facebook:hover
{
	background-image: url(../src/facebook-hover.png);
}
#reseaux_sociaux .twitter
{
	background-image: url(../src/twitter.png);
}
#reseaux_sociaux .twitter:hover
{
	background-image: url(../src/twitter-hover.png);
}
#reseaux_sociaux .google
{
	background-image: url(../src/google.png);
}
#reseaux_sociaux .google:hover
{
	background-image: url(../src/google-hover.png);
}
/*--------------------------------------------------------------*/
#aside
{
	width: 200px;
	border-radius: 20px;
	border: solid #f4c456;
	background: #f4c456;
	padding: 10px 5px;

	text-align: center;

}
.date_aside
{
	font-weight: bold;
}
/*--------------------------------------------------------------*/
